---
layout: page
tagline:
---

{% for post in paginator.posts %}

<article class="home">

  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>

</article>
{% endfor %}
<div class="Bio">
    <header>
        <h1 margin="0px"><i class="fa fa-paperclip"></i> Biography</h1>
    </header>
    <p>
    I am currently an Associate Professor in School of Electronic Engineering at Xidian University. Before that I obtained my PhD degree in School of Electronic Engineering, Xidian University,
	    under the supervision of Prof. <a href="http://see.xidian.edu.cn/faculty/chdeng/">Cheng Deng</a>. I received the bachelor degree in Xidian University in July, 2016. 

	    
    </p>
</div>

<div class="Research Interests">
    <header>
        <h1><i class="fa fa-fire"></i> Research Interests</h1>
    </header>
    <p>
    Deep Learning, Graph Representation Learning, and Clustering
    </p>
</div>
<div class="Achademic Services">
    <header>
        <h1><i class="fa fa-fire"></i> Achademic Serves</h1>
    </header>
	<p>
    Executive Area Chair of Vision And Learning SEminar (VALSE)
    </p>
    <p>
    Programme committee (PC) member for CVPR 2020-2021, NeurIPS 2019-2020, ICML 2020, AAAI 2018-2021, IJCAI 2018-2021
    </p>
	<p>
    Senior programme committee (SPC) member for IJCAI 2021
    </p>
</div>

<div class="News">
    <header>
        <h1><i class="fa fa-bolt"></i> News</h1>
    </header>
	    <p>
    <i class="fa fa-bolt"></i>
    Aug. 20, 2021, one paper was accepted to IEEE Trans. Cybernetics.
    </p>
	<p>
    <i class="fa fa-bolt"></i>
    July 1, 2021, one paper was accepted to IEEE Trans. on Neural Networks and Learning Systems.
    </p>
	<p>
    <i class="fa fa-bolt"></i>
    I was elected as the Executive Area Chair (EAC) of the sixth VALSE.
    </p>
	<p>
    <i class="fa fa-bolt"></i>
    Apr. 29, 2021, one paper was accepted to IJCAI2021 (13.9% acceptance rate).
    </p>
	 <p>
    <i class="fa fa-bolt"></i>
    Mar. 1, 2021, two papers were accepted to CVPR2021 (~27% acceptance rate).
    </p>
	 <p>
    <i class="fa fa-bolt"></i>
    Dec. 02, 2020, one paper was accepted to AAAI2021 (~21% acceptance rate).
    </p>
	<i class="fa fa-bolt"></i>
    Sep. 26, 2020, one paper was accepted to NeurIPS2020 (~20% acceptance rate).
    </p>
    <p>
    <i class="fa fa-bolt"></i>
    Sep. 17, 2020, one paper was accepted to IEEE Trans. Pattern Analysis and Machine Intelligence (IF19=17.861).
    </p>
    <p>
    <i class="fa fa-bolt"></i>
    Apr. 20, 2020, one paper was accepted to IJCAI2020 (~12.6% acceptance rate).
    </p>
    <p>
    <i class="fa fa-bolt"></i>
    Feb. 24, 2020, one paper was accepted to CVPR2020 (~22% acceptance rate).
    </p>
    </div>

<div class="Publications">
    <header>
        <h1><i class="fa fa-file"></i> Publications [<a href="https://scholar.google.com/citations?view_op=list_works&hl=en&authuser=1&user=Uc3piAIAAAAJ" target="_blank">Google Scholar</a>]</h1>
    </header>
    <p><font size="4"><strong>Journal Articles</strong></font></p>
    <ol>
	    	    <li>
            <p>
                <strong>Incremental Zero-Shot Learning</strong><br>
                 K. Wei, C. Deng, <em><strong>X. Yang</strong></em>, and D. Tao<br>
               IEEE Trans. Cybern., 2021.(IF<sub>20</sub>=11.448)
            </p>
        </li>
	    	    <li>
            <p>
                <strong>Self-Training with Progressive Representation Enhancement for Unsupervised Cross-Domain Person Re-identification</strong><br>
                 H. Zhang, H. Cao, <em><strong>X. Yang</strong></em>, C. Deng and D. Tao<br>
               IEEE Trans. Image Process., 30: 5287-5298, 2021.(IF<sub>20</sub>=10.856)
            </p>
        </li>
	    	    <li>
            <p>
                <strong>Deep Multi-View Collaborative Clustering </strong><br>
                 <em><strong>X. Yang</strong></em>, C. Deng, Z. Dang, and D. Tao<br>
               EEE Trans. Neural Netw. Learn. Syst., 2021.(IF<sub>20</sub>=10.451)
            </p>
        </li>
	    
	    <li>
            <p>
                <strong>Heterogeneous Graph Attention Network for Unsupervised Multiple-Target Domain Adaptation</strong><br>
                 <em><strong>X. Yang</strong></em>, C. Deng, T. Liu, and D. Tao<br>
               IEEE Trans. Pattern Anal. Mach. Intell., 2020. (IF<sub>20</sub>=16.389)
            </p>
        </li>
	    <li>
            <p>
                <strong>Saliency Detection via a Multiple Self-Weighted Graph-Based Manifold Ranking</strong><br>
                 C. Deng, <em><strong>X. Yang</strong></em>, F. Nie, and D. Tao<br>
               IEEE Trans. Multimed., 2019. (IF<sub>20</sub>=6.513)
            </p>
        </li>
    </ol>
    <p><font size="4"><strong>Conference Proceedings</strong></font></p>
    <ol>
	    <li><p><strong>New L21-Norm Relaxation of Multi-Way Graph Cut for Clustering </strong><br>
            <em><strong>X. Yang</strong></em>, C. Deng, X. Liu, and F. Nie<br>
 In AAAI Conference on Artificial Intelligence (<em><strong>AAAI</strong></em>), 2018.
            </p>
        </li>
	    <li><p><strong>Deep Spectral Clustering Using Dual Autoencoder Network</strong><br>
            <em><strong>X. Yang</strong></em>, C. Deng, F. Zheng, J. Yan, and W. Liu<br>
 In IEEE International Conference on Pattern Recognition and Computer Vision (<em><strong>CVPR</strong></em>), 2019.
            </p>
        </li>	    
	    <li><p><strong>Multi-Scale Fusion Subspace Clustering Using Similarity Constraint</strong><br>
            Z. Dang, C. Deng, <em><strong>X. Yang</strong></em>, H. Huang<br>
 In IEEE International Conference on Pattern Recognition and Computer Vision (<em><strong>CVPR</strong></em>), 2020.
            </p>
        </li>		        
	    <li><p><strong>Lifelong Zero-shot Learning</strong><br>
            K. Wei, C. Deng, <em><strong>X. Yang</strong></em><br>
 In International Joint Conference on Artificial Intelligence (<em><strong>IJCAI</strong></em>), 2020.
            </p>
        </li>		    
	    <li><p><strong>Adversarial Learning for Robust Deep Clustering</strong><br>
            <em><strong>X. Yang</strong></em>, C. Deng, K. Wei, J. Yan, and W. Liu<br>
In Thirty-fourth Conference on Neural Information Processing Systems (<em><strong>NeurIPS</strong></em>), 2020.
            </p>
        </li>		    
	    <li><p><strong>Incremental Embedding Learning via Zero-Shot Translation</strong><br>
            K. Wei, C. Deng, <em></strong>X. Yang</strong></em> and M. Li<br>
In AAAI Conference on Artificial Intelligence (<em><strong>AAAI</strong></em>), 2021.
            </p>
        </li>		    
	    <li><p><strong>SelfSAGCN: Self-Supervised Semantic Alignment for Graph Convolution Network[<a href="https://openaccess.thecvf.com/content/CVPR2021/html/Yang_SelfSAGCN_Self-Supervised_Semantic_Alignment_for_Graph_Convolution_Network_CVPR_2021_paper.html">Paper</a>][<a href="https://github.com/xdxuyang/SelfSAGCN">Code</a>]</strong><br>
            <em><strong>X. Yang</strong></em>, C. Deng, Z. Dang, K. Wei, and J. Yan<br>
 In IEEE International Conference on Pattern Recognition and Computer Vision (<em><strong>CVPR</strong></em>), 2021.
            </p>
        </li>		    
	    <li><p><strong>Nearest Neighbor Matching for Deep Clustering</strong><br>
            Z. Dang, C. Deng, <em><strong>X. Yang</strong></em>, K. Wei, H. Huang<br>
 In IEEE International Conference on Pattern Recognition and Computer Vision (<em><strong>CVPR</strong></em>), 2021.
            </p>
        </li>			    
	    <li><p><strong>Graph Debiased Contrastive Learning with Joint Representation Clustering</strong><br>
            H. Zhao, <em><strong>X. Yang</strong></em>, Z. Wang, E. Yang, and C. Deng<br>
 In 30th International Joint Conference on Artificial Intelligence (<em><strong>IJCAI</strong></em>), 2021.
            </p>
        </li>		    

    </ol>
    
</div>
 <a href='https://www.symptoma.ro/'>www.Symptoma.ro</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=6229873a2f13744d57ad01394aa1b42c8cfd39a8'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/496026/t/0"></script>
</div>
