---
layout: page
tagline:
---

{% for post in paginator.posts %}

<article class="home">

  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>

</article>
{% endfor %}
<div class="Bio">
    <header>
        <h1 margin="0px"><i class="fa fa-paperclip"></i> Biography</h1>
    </header>
    <p>
    I am currently a postdoc researcher in University of North Carolina at Chapel Hill working with Prof. Dinggang Shen and Mingxia Liu. Before that I obtained my PhD degree in School of Electronic Engineering, Xidian University,
	    under the supervision of Prof. <a href="http://see.xidian.edu.cn/faculty/chdeng/">Cheng Deng</a>,
	    and I was a visiting student in UBTECH Sydney AI Centre, University of Sydney (USYD).%, under the supervision
	    of Prof. <a href="https://sydney.edu.au/engineering/people/dacheng.tao.php">Dacheng Tao</a> and <a href="https://tongliang-liu.github.io">Tongliang Liu</a> from Mar 2017. 
	    I received the bachelor degree in Xidian University in July, 2013. 
    </p>
</div>

<div class="Research Interests">
    <header>
        <h1><i class="fa fa-fire"></i> Research Interests</h1>
    </header>
    <p>
    Deep Learning, Similarity Search, and Learn to Hash
    </p>
</div>
<div class="Achademic Serves">
    <header>
        <h1><i class="fa fa-fire"></i> Achademic Serves</h1>
    </header>
	<p>
    Executive Area Chair of Vision And Learning SEminar (VALSE)
    </p>
    <p>
    Programme committee (PC) member for CVPR 2021, NeurIPS 2021, ICML 2021, AAAI 2018-2021, IJCAI 2018-2021
    </p>
	<p>
    Senior programme committee (SPC) member for IJCAI 2021
    </p>
</div>

<div class="News">
    <header>
        <h1><i class="fa fa-bolt"></i> News</h1>
    </header>
		<p>
    <i class="fa fa-bolt"></i>
    2019.05, one paper was accepted to IEEE Trans. on Neural Networks and Learning Systems.
    </p>
	<p>
    <i class="fa fa-bolt"></i>
    2019.05, one paper was accepted to IJCAI.
    </p>
	 <p>
    <i class="fa fa-bolt"></i>
    2019.02, one paper was accepted to CVPR 2019.
    </p>
	 <p>
    <i class="fa fa-bolt"></i>
    2019.02, one paper was accepted to IEEE Trans. on Image Processing.
    </p>
	<i class="fa fa-bolt"></i>
    2018.10, one paper was accepted to IEEE Trans. on Cybernetics.
    </p>
    <p>
    <i class="fa fa-bolt"></i>
    2018.04, one paper was accepted to IJCAI 2018.
    </p>
    </div>

<div class="Publications">
    <header>
        <h1><i class="fa fa-file"></i> Publications [<a href="https://scholar.google.com/citations?user=jo8L49AAAAAJ&hl=zh-CN" target="_blank">Google Scholar</a>]</h1>
    </header>
    <p><font size="4"><strong>Journal Articles</strong></font></p>
    <ol>
	    <li>
            <p>
                <strong>Unsupervised Semantic-Preserving Adversarial Hashing for Image Search</strong><br>
                 Cheng Deng, <em><strong>Erkun Yang</strong></em>, Tongliang Liu, Wei Liu, Jie Li, Dacheng Tao<br>
               IEEE Trans. Image Process., 2019.
            </p>
        </li>
	    <li>
            <p>
                <strong>Adversarial Examples for Hamming Space Search</strong><br>
                 <em><strong>Erkun Yang</strong></em>, Tongliang Liu, Cheng Deng, Dacheng Tao<br>
               IEEE Trans. Cybern., 2018.
            </p>
        </li>
        <li>
            <p>
                <strong>Shared Predictive Cross-Modal Deep Quantization</strong><br>
                 <em><strong>Erkun Yang</strong></em>, Cheng Deng, Chao Li, Wei Liu, Jie Li, Dacheng Tao<br>
               IEEE Trans. Neural Netw. Learn. Syst., 2018.
            </p>
        </li>
        <li><p>
                <strong>Exploring hybrid spatio-temporal convolutional networks for human action recognition</strong><br>
                Hao Wang, Yanhua Yang, <em><strong>Erkun Yang</strong></em>, Cheng Deng<br>
                Multimedia Tools and Applications, 2017
            </p>
        </li>
    </ol>
    <p><font size="4"><strong>Conference Proceedings</strong></font></p>
    <ol>
	    <li><p><strong>DistillHash: Unsupervised Deep Hashing by Distilling Data Pairs </strong><br>
            <em><strong>Erkun Yang</strong></em>, Tongliang Liu, Cheng Deng, Wei Liu, and Dacheng Tao<br>
 In IEEE International Conference on Pattern Recognition and Computer Vision (<em><strong>CVPR</strong></em>), 2019.
            </p>
        </li>
	<li><p><strong>Semantic Structure-based Unsupervised Deep Hashing [<a href="https://github.com/yangerkun/IJCAI2018_SSDH">code</a>]</strong><br>
            <em><strong>Erkun Yang</strong></em>, Cheng Deng, Tongliang Liu, Wei Liu, and Dacheng Tao<br>
		In International Joint Conference on Artificial Intelligence (<em><strong>IJCAI</strong></em>), 2018.
            </p>
        </li>
	<li><p><strong>Pairwise Relationship Guided Deep Hashing for Cross-Modal Retrieval</strong><br>
            <em><strong>Erkun Yang</strong></em>, Cheng Deng, Wei Liu, Xianglong Liu, Dacheng Tao, and Xinbo Gao<br>
           In AAAI Conference on Artificial Intelligence (<em><strong>AAAI</strong></em>), 2017.
            </p>
        </li>
    </ol>
    
</div>
<div class="friends">
    <header>
        <h1 margin="0px"><i class="fa fa-paperclip"></i> Friends</h1>
    </header>
    <p>
    <a href="https://jxu1991.github.io/">Jie Xu (Cornell University),</a> <a href="https://chaoli1991.github.io/">Chao Li (Xidian University),</a>  <a href="https://zeyuli1990.github.io/">Zeyu Li (Xidian University),</a> <a href="https://haowang1992.github.io/">Hao Wang (Xidian University),</a> <a href="https://shadowxiede.github.io">De Xie (Xidian University)</a> 
    </p>
</div>
</div>
 <a href='https://www.symptoma.ro/'>www.Symptoma.ro</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=6229873a2f13744d57ad01394aa1b42c8cfd39a8'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/496026/t/0"></script>
</div>
<!--<div>-->
<!--<a href="https://clustrmaps.com/site/1a74t" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=TZ-9xN0VxWQ7TS39itsKavExEdxOvdSXfCZ3bYpp3eA&cl=ffffff"></a>-->
<!--</div>-->
